/* story-list.component.css */

.story-list-container {
  margin-top: 20px;
}

.story-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
/* story-list.component.css */

.story-list-container {
  margin-top: 20px;
}

.story-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.selected {
  background-color: lightblue; /* Choose your desired background color for the entire item */
}

.title-heading {
  font-weight: bold;
}

.title-heading {
  font-weight: bold;
}

.points-heading {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
