<!-- sprint-target-form.component.html -->

<div class="sprint-target-form-container">
  <h3 for="targetSprintPoints">Target Sprint Points:</h3>
  <input type="number" id="targetSprintPoints" [(ngModel)]="targetSprintPoints" required>
  <button (click)="setTargetSprintPoints()">Set Target Sprint</button>
</div>

<div class="button-container">
  <button (click)="autoSelectStories()">Auto Select Stories</button>
  <button (click)="clearStories()">Clear Stories</button>
  <button (click)="clearSelectedStories()">Clear Selected Stories</button>
</div>
