

.sprint-target-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: rgb(32, 142, 18);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
 
  @media (max-width: 600px) {
    .sprint-target-form-container {
      max-width: 100%;
    }
    
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  }
  