<!-- app.component.html -->

<div class="app-container">
  <!-- Column 1: Add New Story and Target Sprint Points -->
  <div class="column">
    <app-story-form (addStory)="addStory($event)"></app-story-form>
    <app-sprint-target-form [stories]="stories"
      (setTargetSprintPointsEvent)="setTargetSprintPoints($event)"
      (autoSelectStoriesEvent)="autoSelectStories()"
      (clearStories)="clearStories()"
      (clearSelectedStories)="clearSelectedStories"
    ></app-sprint-target-form>
  </div>

  <!-- Column 2: Story List -->
  <div class="column">
    <app-story-list [stories]="stories"></app-story-list>
  </div>
</div>
